        <div style="margin-left: 55px; margin-top: 55px;">
        <h1>Contactanos</h1>
        <p>Sumate a este gran proyecto, informarnos sobre cualquier cosa,duda o intriga que tengas hásnoslo saber. Tu
            opinion es de suma importancia:
        </p>
        <div style="width: 685px; margin-left: 360px; padding: 12px; margin-top: 40px; height: 255px; background-color: #f8f9fa">
            
            <div class="input-group input-group-sm mb-3">
                <p style="float: right; margin-left: 70px;">Your E-Mail</p>
                <input style="margin-left: 23px;" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Your email">
            </div>
            
            <div class="input-group">
                <p style="margin-left: 53px;">Your Message</p>
                <textarea style="margin-left: 23px; height: 122px;" class="form-control" aria-label="With textarea" placeholder="Please enter your message here..."></textarea>
            </div>
            
            <button type="button" class="btn btn-warning" style="float: right; margin-top: 16px;">Submit</button>
            
        </div>
        
