<div style="margin-left: 55px; margin-top: 55px; margin-right: 55px;">

    <div class="jumbotron jumbotron-fluid row" style="background: transparent;">

        <div class="col-8">
            <h1 class="display-4">Tigre de Bengalas</h1>
            <p class="lead" style="text-align: justify;">El tigre de Bengala (Panthera tigris tigris), también conocido
                como tigre de Bengala real o tigre indio, es una subespecie de tigre que habita en la India, Nepal,
                Bangladés, Bután, Birmania y Tíbet. Es la subespecie más numerosa y conocida de tigre, y se encuentra en
                una gran variedad de hábitats, incluyendo sabanas y bosques tropicales y subtropicales. Su piel es
                generalmente de color naranja o leonado. Existe una mutación genética que produce que la piel naranja
                del tigre sea sustituida por el color blanco; a estos tigres se les conoce como tigres blancos. Una
                mutación aún más rara (de la que existen menos de cien ejemplares, todos en cautiverio), se conoce como
                tigre dorado. El tigre es un animal nacional en la India y Bangladés.</p>
        </div>

        <div class="col-4">
            <img style="height: 390px; width: 390px; border-radius: 100%; margin-left: 60px;"
                src="https://i.ibb.co/z48M3zk/771-1.jpg" alt="771-1">
        </div>

    </div>

</div>