<!-- your html code here -->
<h2> Portfolio </h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend justo consequat, efficitur nulla quis, porttitor orci. Nunc placerat cursus lectus, ac congue est dignissim nec. In vel.</p>
    <div class="container"> 
        <div class="row">
         <div class="col-md-4">
          <div class="card">
           <img class="card-img-top" src="https://www.elcomercio.com/files/article_main/uploads/2018/09/11/5b97e370c6486.jpeg" alt="Mi Imagen">
            <div class="card-body">
             <h4 class="card-title">Tigre 1</h4>
             <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis sed mauris at porttitor. Aenean et ipsum.</p>
            </div>
         </div>
        </div>
        <div class="row">
            <div class="col-md-4">
             <div class="card">
              <img class="card-img-top" src="https://www.elcomercio.com/files/article_main/uploads/2018/09/11/5b97e370c6486.jpeg" alt="Mi Imagen">
               <div class="card-body">
                <h4 class="card-title">Tigre 2</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis sed mauris at porttitor. Aenean et ipsum.</p>
               </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-4">
             <div class="card">
              <img class="card-img-top" src="https://www.elcomercio.com/files/article_main/uploads/2018/09/11/5b97e370c6486.jpeg" alt="Mi Imagen">
               <div class="card-body">
                <h4 class="card-title">Tigre 3</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis sed mauris at porttitor. Aenean et ipsum.</p>
               </div>
            </div>
           </div>
     </div>
    </div>